@page
@model TOPMS.Pages.TransportRFQ.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TransportRFQ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransportRFQ.AppUser.UserName" class="control-label"></label>
                <input asp-for="TransportRFQ.AppUser.UserName" class="form-control" value="@this.User.Identity.Name"/>
                <span asp-validation-for="TransportRFQ.NumberOfPackages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.Date" class="control-label"></label>
                <input asp-for="TransportRFQ.Date" class="form-control" value="@DateTime.UtcNow.Date"/>
                <span asp-validation-for="TransportRFQ.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.MaterialId" class="control-label"></label>
                <select asp-for="TransportRFQ.MaterialId" class ="form-control" asp-items="ViewBag.MaterialId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.NumberOfPackages" class="control-label"></label>
                <input asp-for="TransportRFQ.NumberOfPackages" class="form-control" />
                <span asp-validation-for="TransportRFQ.NumberOfPackages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.PackageDimention" class="control-label"></label>
                <input asp-for="TransportRFQ.PackageDimention" class="form-control" />
                <span asp-validation-for="TransportRFQ.PackageDimention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.Volume" class="control-label"></label>
                <input asp-for="TransportRFQ.Volume" class="form-control" />
                <span asp-validation-for="TransportRFQ.Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.TransportId" class="control-label"></label>
                <select asp-for="TransportRFQ.TransportId" class ="form-control" asp-items="ViewBag.TransportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.ServiceId" class="control-label"></label>
                <select asp-for="TransportRFQ.ServiceId" class ="form-control" asp-items="ViewBag.ServiceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.ShipmentReadyDate" class="control-label"></label>
                <input asp-for="TransportRFQ.ShipmentReadyDate" class="form-control" />
                <span asp-validation-for="TransportRFQ.ShipmentReadyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.RequestDeliveryDate" class="control-label"></label>
                <input asp-for="TransportRFQ.RequestDeliveryDate" class="form-control" />
                <span asp-validation-for="TransportRFQ.RequestDeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.StatusId" class="control-label"></label>
                <select asp-for="TransportRFQ.StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.SpecialRequirements" class="control-label"></label>
                <input asp-for="TransportRFQ.SpecialRequirements" class="form-control" />
                <span asp-validation-for="TransportRFQ.SpecialRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.OrderId" class="control-label"></label>
                <select asp-for="TransportRFQ.OrderId" class ="form-control" asp-items="ViewBag.OrderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TransportRFQ.InsuranceId" class="control-label"></label>
                <select asp-for="TransportRFQ.InsuranceId" class ="form-control" asp-items="ViewBag.InsuranceId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
