@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">To MyFirstWebProject</h1>
    <h1 class="display-4"><b>TOPMS</b> - <b>T</b>ransport <b>O</b>rders and <b>P</b>rocessing <b>M</b>anagement <b>S</b>ystem</h1>
    <hr>
    <p>
        This is company transport orders and processing managment system
        which can be used from comapnies to simplyfy and organize thier transports much easier.
        <b>* Guest Users can register and login to their accounts.</b>
    </p>
    <p>
        <ul>
            <b>
                There will be two types of users: Company Employees and Forwarders Employees. Both of them will have
                their own authorizations and actions they can execute:
            </b>
            <li>Company Employees will have Admin, Approver and User Role</li>
            <li>Forwarder Employee will have Forwarder Role</li>
        </ul>
    </p>
    <p>
        <ul>
            <b>Regular Company Users with in role user can do:</b>
            <li>Register Client Company</li>
            <li>Register Supplier Company</li>
            <li>Register Material</li>
            <li>Create and Edit Transport Requests for Quotation</li>
            <li>Confirm Transport Offers</li>
            <li>Create and Edit Transport Order</li>
            <li>Create and Edit Transport Insurance Order</li>
        </ul>
    </p>
</div>
