@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
    <h1 class="display-4"><b>TOPMS</b> - <b>T</b>ransport <b>O</b>rders and <b>P</b>rocessing <b>M</b>anagement <b>S</b>ystem</h1>
    <hr>
</div>
