@page
@model TOPMS.Pages.Insurance.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Insurance</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Insurance.Id" />
            <div class="form-group">
                <label asp-for="Insurance.AppUserId" class="control-label"></label>
                <select asp-for="Insurance.AppUserId" class="form-control" asp-items="ViewBag.AppUserId"></select>
                <span asp-validation-for="Insurance.AppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insurance.SendToEmail" class="control-label"></label>
                <input asp-for="Insurance.SendToEmail" class="form-control" />
                <span asp-validation-for="Insurance.SendToEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insurance.OrderAmount" class="control-label"></label>
                <input asp-for="Insurance.OrderAmount" class="form-control" />
                <span asp-validation-for="Insurance.OrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insurance.Currency" class="control-label"></label>
                <select asp-for="Insurance.Currency" asp-items="Html.GetEnumSelectList<TOPMS.Enums.Currency>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Insurance.Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insurance.Comments" class="control-label"></label>
                <input asp-for="Insurance.Comments" class="form-control" />
                <span asp-validation-for="Insurance.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
